<div class="container">

  <span id="error_message_innovation"><%= @answer_innovation.errors.full_messages %></span>


  <h1 class="mt-4 text-color">Innovation</h1>

  <%= form_tag url_for(action: 'create'), method: "post" do %>

    <p class="mt-3"><span class="text-color">1)</span> Bénéficiez-vous du statut de "Jeune Entreprise Innovante" ou d'un
      prix récompensant votre innovation technologique ? <span class="text-danger">*</span></p>
    <% if params[:answer_innovation_1].to_i == 1 %>
      <%= label_tag :answer_innovation_1, "Oui", class: "mx-2" %>
      <%= radio_button_tag :answer_innovation_1, 1, true %><br>
    <% else %>
      <%= label_tag :answer_innovation_1, "Oui", class: "mx-2" %>
      <%= radio_button_tag :answer_innovation_1, 1 %><br>
    <% end %>

    <% if params[:answer_innovation_1].to_i == 2 %>
      <%= label_tag :answer_innovation_1, "Non", class: "mx-2" %>
      <%= radio_button_tag :answer_innovation_1, 2, true %>
    <% else %>
      <%= label_tag :answer_innovation_1, "Non", class: "mx-2" %>
      <%= radio_button_tag :answer_innovation_1, 2 %>
    <% end %>

    <p class="mt-3"><span class="text-color">2)</span> Depuis quand l’innovation est-elle en cours de développement
      ?<span class="text-danger">*</span></p>
    <% if params[:answer_innovation_2].to_i == 1 %>
      <%= label_tag :answer_innovation_2, "1 mois", class: "mx-2" %>
      <%= radio_button_tag :answer_innovation_2, 1, true %><br>
    <% else %>
      <%= label_tag :answer_innovation_2, "1 mois", class: "mx-2" %>
      <%= radio_button_tag :answer_innovation_2, 1 %><br>
    <% end %>

    <% if params[:answer_innovation_2].to_i == 2 %>
      <%= label_tag :answer_innovation_2, "2 mois", class: "mx-2" %>
      <%= radio_button_tag :answer_innovation_2, 2, true %><br>
    <% else %>
      <%= label_tag :answer_innovation_2, "2 mois", class: "mx-2" %>
      <%= radio_button_tag :answer_innovation_2, 2 %><br>
    <% end %>

    <% if params[:answer_innovation_2].to_i == 3 %>
      <%= label_tag :answer_innovation_2, "3 mois", class: "mx-2" %>
      <%= radio_button_tag :answer_innovation_2, 3, true %><br>
    <% else %>
      <%= label_tag :answer_innovation_2, "3 mois", class: "mx-2" %>
      <%= radio_button_tag :answer_innovation_2, 3 %><br>
    <% end %>

    <% if params[:answer_innovation_2].to_i == 4 %>
      <%= label_tag :answer_innovation_2, "6 mois ou plus", class: "mx-2" %>
      <%= radio_button_tag :answer_innovation_2, 4, true %>
    <% else %>
      <%= label_tag :answer_innovation_2, "6 mois ou plus", class: "mx-2" %>
      <%= radio_button_tag :answer_innovation_2, 4 %>
    <% end %>

    <p class="mt-3"><span class="text-color">3)</span> Quelles sont vos dépenses annuelles moyennes en Recherche &
      Développement ?<span class="text-danger">*</span>
      <i class="fa-solid fa-circle-info" data-toggle="tooltip" data-placement="top" title="Il s'agit d'évaluer l'ensemble du Chiffre d'Affaires des acteurs de votre marché sur votre zone géographique."></i>
    </p>
    <span id="params_answer_innovation_3"><%= params[:answer_innovation_3] %></span>
    <%= range_field_tag :answer_innovation_3, params[:answer_innovation_3], min: 0...100, step: 1, class: "d-inline" %>
    <p class="mx-3 d-inline align-top"><span id='sizeinnovation'><%= params[:answer_innovation_3] %></span>
      <span id='p3'> 000€</span></p>

    <p class="mt-3"><span class="text-color">4)</span> Votre technologie innovante est-elle brevetable
      ?<span class="text-danger">*</span></p>
    <% if params[:answer_innovation_4].to_i == 1 %>
      <%= label_tag :answer_innovation_4, "Oui", class: "mx-2" %>
      <%= radio_button_tag :answer_innovation_4, 1, true %><br>
    <% else %>
      <%= label_tag :answer_innovation_4, "Oui", class: "mx-2" %>
      <%= radio_button_tag :answer_innovation_4, 1 %><br>
    <% end %>

    <% if params[:answer_innovation_4].to_i == 2 %>
      <%= label_tag :answer_innovation_4, "Non", class: "mx-2" %>
      <%= radio_button_tag :answer_innovation_4, 2, true %><br>
    <% else %>
      <%= label_tag :answer_innovation_4, "Non", class: "mx-2" %>
      <%= radio_button_tag :answer_innovation_4, 2 %><br>
    <% end %>

    <p class="mt-3"><span class="text-color">5)</span> Combien de brevets technologiques autour de votre innovation
      avez-vous déposé à ce jour ?<span class="text-danger">*</span></p>
    <% 5.times do |t| %>
      <% if !params[:answer_innovation_5].nil? && params[:answer_innovation_5].to_i == t %>
        <%= radio_button_tag :answer_innovation_5, t, true %>
        <%= label_tag :answer_innovation_5, t, class: "mx-2" %>
      <% else %>
        <%= radio_button_tag :answer_innovation_5, t %>
        <%= label_tag :answer_innovation_5, t, class: "mx-2" %>
      <% end %>
    <% end %>

    <p class="mt-3"><span class="text-color">6)</span> Dans le cadre de vos activités, récoltez-vous des données
      personnelles ? <span class="text-danger">*</span></p>
    <% if params[:answer_innovation_6].to_i == 1 %>
      <%= label_tag :answer_innovation_6, "Oui", class: "mx-2" %>
      <%= radio_button_tag :answer_innovation_6, 1, true %><br>
    <% else %>
      <%= label_tag :answer_innovation_6, "Oui", class: "mx-2" %>
      <%= radio_button_tag :answer_innovation_6, 1 %><br>
    <% end %>

    <% if params[:answer_innovation_6].to_i == 2 %>
      <%= label_tag :answer_innovation_6, "Non", class: "mx-2" %>
      <%= radio_button_tag :answer_innovation_6, 2, true %>
    <% else %>
      <%= label_tag :answer_innovation_6, "Non", class: "mx-2" %>
      <%= radio_button_tag :answer_innovation_6, 2 %>
    <% end %>

    <p class="mt-3"><span class="text-color">7)</span> Avez-vous mis en place des mesures de protection des données
      personnelles (déclaration CNIL, conformité RGDP, ...) ?<span class="text-danger">*</span></p>
    <% if params[:answer_innovation_7].to_i == 1 %>
      <%= label_tag :answer_innovation_7, "Oui", class: "mx-2" %>
      <%= radio_button_tag :answer_innovation_7, 1, true %><br>
    <% else %>
      <%= label_tag :answer_innovation_7, "Oui", class: "mx-2" %>
      <%= radio_button_tag :answer_innovation_7, 1 %><br>
    <% end %>

    <% if params[:answer_innovation_7].to_i == 2 %>
      <%= label_tag :answer_innovation_7, "Non", class: "mx-2 mb-3" %>
      <%= radio_button_tag :answer_innovation_7, 2, true %>
    <% else %>
      <%= label_tag :answer_innovation_7, "Non", class: "mx-2 mb-3" %>
      <%= radio_button_tag :answer_innovation_7, 2 %>
    <% end %>

    <br>
    <small class="text-danger"><em>*Les questions portant un astérisque sont obligatoires</em></small><br>
    <%= submit_tag "Valider mes réponses", data: { confirm: 'Etes-vous sûr de valider vos réponses, une fois enregistrées vous ne pourrez plus les modifier' }, class: "btn-form mb-5" %>
  <% end %>

</div>

