<div class="container">
  <span id="error_message_offer"><%= @answer_offer.errors.full_messages%></span>
  <h1 class="mt-4 text-color">Offre</h1>
  <%= form_tag url_for(action: 'create'), method: "post" do %>
    <p class="mt-3"><span class="text-color">1)</span> Quand est née l’idée de votre innovation ?<span class="text-danger">*</span></p>
    <%if params[:answer_offer_1].to_i == 1%>
      <%= label_tag :answer_offer_1, "Moins de 3 mois", class:"mx-2" %>
      <%= radio_button_tag :answer_offer_1, 1, true%><br>
    <%else%>
      <%= label_tag :answer_offer_1, "Moins de 3 mois", class:"mx-2" %>
      <%= radio_button_tag :answer_offer_1, 1%><br>
    <%end%>
    <%if params[:answer_offer_1].to_i == 2%>
      <%= label_tag :answer_offer_1, "De 3 à 6 mois", class:"mx-2" %>
      <%= radio_button_tag :answer_offer_1, 2, true%><br>
    <%else%>
      <%= label_tag :answer_offer_1, "De 3 à 6 mois", class:"mx-2" %>
      <%= radio_button_tag :answer_offer_1, 2%><br>
    <%end%>
    <%if params[:answer_offer_1].to_i == 3%>
      <%= label_tag :answer_offer_1, "De 6 à 9 mois", class:"mx-2" %>
      <%= radio_button_tag :answer_offer_1, 3, true%><br>
    <%else%>
      <%= label_tag :answer_offer_1, "De 6 à 9 mois", class:"mx-2" %>
      <%= radio_button_tag :answer_offer_1, 3%><br>
    <%end%>
    <%if params[:answer_offer_1].to_i == 4%>
      <%= label_tag :answer_offer_1, "Plus de 9 mois", class:"mx-2" %>
      <%= radio_button_tag :answer_offer_1, 4, true%><br>
    <%else%>
      <%= label_tag :answer_offer_1, "Plus de 9 mois", class:"mx-2" %>
      <%= radio_button_tag :answer_offer_1, 4%><br>
    <%end%>
    <p class="mt-3"><span class="text-color">2)</span> Quel est le taux de fidélisation des premiers clients ?<span class="text-danger">*</span></p>
    <span id="params_answer_offer_2"><%=params[:answer_offer_2]%></span>
    <%= range_field_tag :answer_offer_2, params[:answer_offer_2], in: 1..100, step: 1, class:"d-inline"%>
    <p class="mx-3 d-inline align-top"><span id='loyalty' ><%=params[:answer_offer_2]%></span> %</p>
    <p class="mt-3"><span class="text-color">3)</span> Evaluez votre avantage concurrentiel : Simplicité d’usage. <span class="text-danger">*</span> <i class="fa-solid fa-circle-info" data-toggle="tooltip" data-placement="top" ></i></p>
    <span id="params_answer_offer_3"><%=params[:answer_offer_3]%></span>
    <%= range_field_tag :answer_offer_3, params[:answer_offer_3], in: 1..100, step: 1, class:"d-inline"%>
    <p class="mx-3 d-inline align-top"><span id='simplicity' ><%=params[:answer_offer_3]%></span></p>
    <p class="mt-3"><span class="text-color">4)</span> Evaluez votre avantage concurrentiel : Technologie. <span class="text-danger">*</span></p>
    <span id="params_answer_offer_4"><%=params[:answer_offer_4]%></span>
    <%= range_field_tag :answer_offer_4, params[:answer_offer_4], in: 1..100, step: 1, class:"d-inline"%>
    <p class="mx-3 d-inline align-top"><span id='technology' ><%=params[:answer_offer_4]%></span></p>
    <p class="mt-3"><span class="text-color">5)</span> Evaluez votre avantage concurrentiel : Modèle économique.<span class="text-danger">*</span></p>
    <span id="params_answer_offer_5"><%=params[:answer_offer_5]%></span>
    <%= range_field_tag :answer_offer_5, params[:answer_offer_5], in: 1..100, step: 1, class:"d-inline"%>
    <p class="mx-3 d-inline align-top"><span id='economy' ><%=params[:answer_offer_5]%></span></p>
    <p class="mt-3"><span class="text-color">6)</span> Evaluez le caractère innovant de votre offre.<span class="text-danger">*</span></p>
    <span id="params_answer_offer_6"><%=params[:answer_offer_6]%></span>
    <%= range_field_tag :answer_offer_6, params[:answer_offer_6], in: 1..100, step: 1, class:"d-inline"%>
    <p class="mx-3 d-inline align-top"><span id='innovation' ><%=params[:answer_offer_6]%></span></p>
    <p class="mt-3"><span class="text-color">7)</span> Evaluez le degré de différenciation de votre produit/service vis à vis de vos concurrents.<span class="text-danger">*</span></p>
    <span id="params_answer_offer_7"><%=params[:answer_offer_7]%></span>
    <%= range_field_tag :answer_offer_7, params[:answer_offer_7], in: 1..100, step: 1, class:"d-inline"%>
    <p class="mx-3 d-inline align-top"><span id='product' ><%=params[:answer_offer_7]%></span></p>
    <p class="mt-3"><span class="text-color">8)</span> Avez-vous mis en place une politique de développement durable / RSE ? <span class="text-danger">*</span></p>
    <%if params[:answer_offer_8].to_i == 1%>
      <%= label_tag :answer_offer_8, "Oui", class:"mx-2" %>
      <%= radio_button_tag :answer_offer_8, 1, true%><br>
    <%else%>
      <%= label_tag :answer_offer_8, "Oui", class:"mx-2" %>
      <%= radio_button_tag :answer_offer_8, 1%><br>
    <%end%>
    <%if params[:answer_offer_8].to_i == 2%>
      <%= label_tag :answer_offer_8, "Non", class:"mx-2" %>
      <%= radio_button_tag :answer_offer_8, 2, true%><br>
    <%else%>
      <%= label_tag :answer_offer_8, "Non", class:"mx-2" %>
      <%= radio_button_tag :answer_offer_8, 2%><br>
    <%end%>
    <br>
    <small  class="text-danger"><em>*Les questions portant un astérisque sont obligatoires</em></small><br>
    <%= submit_tag "Valider mes réponses", data: { confirm: 'Etes-vous sûr de valider vos réponses, une fois enregistrées vous ne pourrez plus les modifier' }, class:"btn-form mb-5"%>
  <% end %>
</div>
