<div class="container">

  <h1>Offre</h1>

  <%= form_tag url_for(action: 'create'), method: "post" do %>

  <!--QUESTION 1-->
  <p class="mt-3">Quand est née l’idée de votre innovation ?<span style="color:red">*</span></p>
  <%= label_tag :answer_offer_1, "Moins de 3 mois", class:"mx-2" %>
  <%= radio_button_tag :answer_offer_1, 1%><br>
  <%= label_tag :answer_offer_1, "De 3 à 6 mois", class:"mx-2" %>
  <%= radio_button_tag :answer_offer_1, 1%>
  <%= label_tag :answer_offer_1, "De 6 à 9 mois", class:"mx-2" %>
  <%= radio_button_tag :answer_offer_1, 2%><br>
  <%= label_tag :answer_offer_1, "Plus de 9 mois", class:"mx-2" %>
  <%= radio_button_tag :answer_offer_1, 2%><br>

  <!--QUESTION 2-->
  <p class="mt-3">Quel est le taux de fidélisation des premiers clients ?<span style="color:red">*</span></p>
  <%= range_field_tag :answer_offer_2, in: 1..100, step: 1, class:"d-inline"%>
  <p class="mx-3 d-inline align-top"><span id='fidelisation' >50</span> %</p>


  <!--QUESTION 3-->
  <p class="mt-3" >Evaluez votre avantage concurrentiel : Simplicité d’usage. <span style="color:red">*</span> <i class="fa-solid fa-circle-info" data-toggle="tooltip" data-placement="top" ></i></p>
  <%= range_field_tag :answer_offer_3, in: 1..100, step: 10, class:"d-inline"%>
  <p class="mx-3 d-inline align-top"><span id='simplicity' >5</span></p>

  <!--QUESTION 4-->
  <p class="mt-3" >Evaluez votre avantage concurrentiel : Technologie. <span style="color:red">*</span></p>
  <%= range_field_tag :answer_offer_4, in: 1..100, step: 10, class:"d-inline"%>
  <p class="mx-3 d-inline align-top"><span id='technology' >5</span></p>

  <!--QUESTION 5-->
  <p class="mt-3" >Evaluez votre avantage concurrentiel : Modèle économique.<span style="color:red">*</span></p>
  <%= range_field_tag :answer_offer_5, in: 1..100, step: 10, class:"d-inline"%>
  <p class="mx-3 d-inline align-top"><span id='economy' >5</span></p>

  <!--QUESTION 6-->
  <p class="mt-3">Evaluez le caractère innovant de votre offre.<span style="color:red">*</span></p>
  <%= range_field_tag :answer_offer_6, in: 1..100, step: 10, class:"d-inline"%>
  <p class="mx-3 d-inline align-top"><span id='innovation' >5</span></p>

  <!--QUESTION 7-->
  <p class="mt-3" >Evaluez le degré de différenciation de votre produit/service vis à vis de vos concurrents.<span style="color:red">*</span></p>
  <%= range_field_tag :answer_offer_7, in: 1..100, step: 10, class:"d-inline"%>
  <p class="mx-3 d-inline align-top"><span id='product' >5</span></p>

  <!--QUESTION 8-->
  <p class="mt-3" >Avez-vous mis en place une politique de développement durable / RSE ? <span style="color:red">*</span></p>
  <%= label_tag :answer_offer_8, "Oui", class:"mx-2" %>
  <%= radio_button_tag :answer_offer_8, 1%><br>
  <%= label_tag :answer_offer_8, "Non", class:"mx-2" %>
  <%= radio_button_tag :answer_offer_8, 2%><br>

  <br>
  <small  style="color:red"><em>*Les questions portant un astérisque sont obligatoires</em></small><br>
  <%= submit_tag "Valider mes réponses", data: { confirm: 'Etes-vous sûr de valider vos réponses, une fois enregistrées vous ne pourrez plus les modifier' }, class:"btn btn-primary mb-5 ", id:"button" %>

  <% end %>


</div>

<script src="https://kit.fontawesome.com/4923ee3a4a.js" crossorigin="anonymous"></script>

<script>
  let y = document.getElementById("answer_offer_2")
  let i = document.getElementById("answer_offer_3")
  let j = document.getElementById("answer_offer_4")
  let k = document.getElementById("answer_offer_5")
  let l = document.getElementById("answer_offer_6")
  let m = document.getElementById("answer_offer_7")

  window.addEventListener("load", function() {
    y.value = "50";
    i.value = "50";
    j.value = "50";
    k.value = "50";
    l.value = "50";
    m.value = "50";
  });

  y.addEventListener("change", function() {
    document.getElementById("fidelisation").textContent = y.value;
  }, false);

  i.addEventListener("change", function() {
    document.getElementById("simplicity").textContent = `${Math.floor(Number(i.value)/10)}`;
  }, false);

  j.addEventListener("change", function() {
    document.getElementById("technology").textContent = `${Math.floor(Number(j.value)/10)}`;
  }, false);

  k.addEventListener("change", function() {
    document.getElementById("economy").textContent = `${Math.floor(Number(k.value)/10)}`;
  }, false);

  l.addEventListener("change", function() {
    document.getElementById("innovation").textContent = `${Math.floor(Number(l.value)/10)}`;
  }, false);

  m.addEventListener("change", function() {
    document.getElementById("product").textContent = `${Math.floor(Number(m.value)/10)}`;
  }, false);

</script>


<script>

let error_offer = '<%= @answer_offer.errors.full_messages %>';
let answer_offer = [];

if (error_offer !== []){
  answer_offer = error_offer.split(',');
  answer_offer.forEach(element => {
    for (let i = 1; i < 9; i++){
      if (element.includes(`offer ${i}`)){
            notyf.error({
                message: `Merci de répondre à la question n°${i}`,
                dismissible: true
                });
          };
    };
  });
};

</script>
