<div class="container">

<span id="error_message_team"><%= @answer_team.errors.full_messages%></span>


  <h1 class="mt-4">Team</h1>


  <%= form_tag url_for(action: 'create'), method: "post" do %>

  <p>Sur une échelle de 1 à 10 évaluez votre expérience et vos compétences managériales: </p>
  <%= label_tag :answer_team_1, "1" %>
  <%= radio_button_tag :answer_team_1, 1 %>

  <%= label_tag :answer_team_1, "2" %>
  <%= radio_button_tag :answer_team_1, 1 %>

  <%= label_tag :answer_team_1, "3" %>
  <%= radio_button_tag :answer_team_1, 1 %>

  <%= label_tag :answer_team_1, "4" %>
  <%= radio_button_tag :answer_team_1, 1%>

  <%= label_tag :answer_team_1, "5" %>
  <%= radio_button_tag :answer_team_1, 1%>

  <%= label_tag :answer_team_1, "6" %>
  <%= radio_button_tag :answer_team_1, 2 %>

  <%= label_tag :answer_team_1, "7" %>
  <%= radio_button_tag :answer_team_1, 2 %>

  <%= label_tag :answer_team_1, "8" %>
  <%= radio_button_tag :answer_team_1, 2 %>

  <%= label_tag :answer_team_1, "9" %>
  <%= radio_button_tag :answer_team_1, 3 %>

  <%= label_tag :answer_team_1, "10" %>
  <%= radio_button_tag :answer_team_1, 3 %>


  <p>Sur une échelle de 1 à 10 évaluez votre expérience et vos compétences commerciales: </p>
  <%= label_tag :answer_team_2, "1" %>
  <%= radio_button_tag :answer_team_2, 1 %>

  <%= label_tag :answer_team_2, "2" %>
  <%= radio_button_tag :answer_team_2, 1 %>

  <%= label_tag :answer_team_2, "3" %>
  <%= radio_button_tag :answer_team_2, 1 %>

  <%= label_tag :answer_team_2, "4" %>
  <%= radio_button_tag :answer_team_2, 1%>

  <%= label_tag :answer_team_2, "5" %>
  <%= radio_button_tag :answer_team_2, 1%>

  <%= label_tag :answer_team_2, "6" %>
  <%= radio_button_tag :answer_team_2, 2 %>

  <%= label_tag :answer_team_2, "7" %>
  <%= radio_button_tag :answer_team_2, 2 %>

  <%= label_tag :answer_team_2, "8" %>
  <%= radio_button_tag :answer_team_2, 2 %>

  <%= label_tag :answer_team_2, "9" %>
  <%= radio_button_tag :answer_team_2, 3 %>

  <%= label_tag :answer_team_2, "10" %>
  <%= radio_button_tag :answer_team_2, 3 %>

  <p>Sur une échelle de 1 à 10 évaluez votre expérience et vos compétences financière: </p>
  <%= label_tag :answer_team_3, "1" %>
  <%= radio_button_tag :answer_team_3, 1 %>

  <%= label_tag :answer_team_3, "2" %>
  <%= radio_button_tag :answer_team_3, 1 %>

  <%= label_tag :answer_team_3, "3" %>
  <%= radio_button_tag :answer_team_3, 1 %>

  <%= label_tag :answer_team_3, "4" %>
  <%= radio_button_tag :answer_team_3, 1%>

  <%= label_tag :answer_team_3, "5" %>
  <%= radio_button_tag :answer_team_3, 1%>

  <%= label_tag :answer_team_3, "6" %>
  <%= radio_button_tag :answer_team_3, 2 %>

  <%= label_tag :answer_team_3, "7" %>
  <%= radio_button_tag :answer_team_3, 2 %>

  <%= label_tag :answer_team_3, "8" %>
  <%= radio_button_tag :answer_team_3, 2 %>

  <%= label_tag :answer_team_3, "9" %>
  <%= radio_button_tag :answer_team_3, 3 %>

  <%= label_tag :answer_team_3, "10" %>
  <%= radio_button_tag :answer_team_3, 3 %>

  <p>Sur une échelle de 1 à 10 évaluez votre expérience et vos compétences entrepreneuriales: </p>
  <%= label_tag :answer_team_4, "1" %>
  <%= radio_button_tag :answer_team_4, 1 %>

  <%= label_tag :answer_team_4, "2" %>
  <%= radio_button_tag :answer_team_4, 1 %>

  <%= label_tag :answer_team_4, "3" %>
  <%= radio_button_tag :answer_team_4, 1 %>

  <%= label_tag :answer_team_4, "4" %>
  <%= radio_button_tag :answer_team_4, 1%>

  <%= label_tag :answer_team_4, "5" %>
  <%= radio_button_tag :answer_team_4, 1%>

  <%= label_tag :answer_team_4, "6" %>
  <%= radio_button_tag :answer_team_4, 2 %>

  <%= label_tag :answer_team_4, "7" %>
  <%= radio_button_tag :answer_team_4, 2 %>

  <%= label_tag :answer_team_4, "8" %>
  <%= radio_button_tag :answer_team_4, 2 %>

  <%= label_tag :answer_team_4, "9" %>
  <%= radio_button_tag :answer_team_4, 3 %>

  <%= label_tag :answer_team_4, "10" %>
  <%= radio_button_tag :answer_team_4, 3 %>

  <p>La startup possède plus de 2 dirigeants avec une complémentarité de compétence. </p>
  <%= label_tag :answer_team_5, "Oui" %>
  <%= radio_button_tag :answer_team_5, 1%>

  <%= label_tag :answer_team_5, "Non" %>
  <%= radio_button_tag :answer_team_5, 2 %>

  <p>Combien de salariés employez-vous (Équivalent Temps Plein) actuellement? </p>
  <%= label_tag :answer_team_6, "0" %>
  <%= radio_button_tag :answer_team_6, 1%>

  <%= label_tag :answer_team_6, "1" %>
  <%= radio_button_tag :answer_team_6, 2 %>

  <%= label_tag :answer_team_6, "2 ou plus" %>
  <%= radio_button_tag :answer_team_6, 3 %>

  <p>Avec combien de freelances collaborez-vous actuellement? </p>
  <%= label_tag :answer_team_7, "0" %>
  <%= radio_button_tag :answer_team_7, 1%>

  <%= label_tag :answer_team_7, "1" %>
  <%= radio_button_tag :answer_team_7, 2 %>

  <%= label_tag :answer_team_7, "2 ou plus" %>
  <%= radio_button_tag :answer_team_7, 3 %>

  <p>Combien d'apprenants (stagiaires, apprentis, etc) employez-vous actuellement? </p>
  <%= label_tag :answer_team_8, "0" %>
  <%= radio_button_tag :answer_team_8, 1%>

  <%= label_tag :answer_team_8, "1" %>
  <%= radio_button_tag :answer_team_8, 1 %>

  <%= label_tag :answer_team_8, "2 ou plus" %>
  <%= radio_button_tag :answer_team_8, 2 %>

  <p>Y’a-t-il eu des abandons de fondateur(s) depuis la naissance du projet? </p>
  <%= label_tag :answer_team_9, "Oui" %>
  <%= radio_button_tag :answer_team_9, 1%>

  <%= label_tag :answer_team_9, "Non" %>
  <%= radio_button_tag :answer_team_9, 2 %>

  <p>Combien de personnes ont quitté le projet depuis son lancement?</p>
  <%= label_tag :answer_team_10, "0" %>
  <%= radio_button_tag :answer_team_10, 1%>

  <%= label_tag :answer_team_10, "1" %>
  <%= radio_button_tag :answer_team_10, 2 %>

  <%= label_tag :answer_team_10, "2" %>
  <%= radio_button_tag :answer_team_10, 2 %>

  <%= label_tag :answer_team_10, "3" %>
  <%= radio_button_tag :answer_team_10, 2 %>

  <%= label_tag :answer_team_10, "4+" %>
  <%= radio_button_tag :answer_team_10, 2 %>

    <br>
      <small style="color:red"><em>*Les questions portant un astérisque sont obligatoires</em></small><br>
        <%= submit_tag "Valider mes réponses", data: { confirm: 'Etes-vous sûr de valider vos réponses, une fois enregistrées vous ne pourrez plus les modifier' }, class:"btn btn-primary mb-5 " %>
  <% end %>

</div>

