<div class="container">

<span id="error_message_team"><%= @answer_team.errors.full_messages%></span>


  <h1 class="mt-4">Team</h1>


  <%= form_tag url_for(action: 'create'), method: "post" do %>

  <p>Sur une échelle de 10 évaluez votre expérience et vos compétences managériales: </p>
  <%= range_field_tag :answer_team_1, in: 1..100, step: 10, class:"d-inline"%>
  <p class="mx-3 d-inline align-top"><span id='manager' >5</span></p>

  <p>Sur une échelle de 10 évaluez votre expérience et vos compétences commerciales: </p>
  <%= range_field_tag :answer_team_2, in: 1..100, step: 10, class:"d-inline"%>
  <p class="mx-3 d-inline align-top"><span id="commercial">5</span></p>

  <p>Sur une échelle de 10 évaluez votre expérience et vos compétences financière: </p>
  <%= range_field_tag :answer_team_3, in: 1..100, step: 10, class:"d-inline"%>
  <p class="mx-3 d-inline align-top"><span id='finance' >5</span></p>

  <p>Sur une échelle de 10 évaluez votre expérience et vos compétences entrepreneuriales: </p>
  <%= range_field_tag :answer_team_4, in: 1..100, step: 10, class:"d-inline"%>
  <p class="mx-3 d-inline align-top"><span id='entreprenership' >5</span></p>


  <p>La startup possède plus de 2 dirigeants avec une complémentarité de compétence. </p>
  <%= label_tag :answer_team_5, "Oui" %>
  <%= radio_button_tag :answer_team_5, 1%>

  <%= label_tag :answer_team_5, "Non" %>
  <%= radio_button_tag :answer_team_5, 2 %>

  <p>Combien de salariés employez-vous (Équivalent Temps Plein) actuellement? </p>
  <%= label_tag :answer_team_6, "0" %>
  <%= radio_button_tag :answer_team_6, 1%>

  <%= label_tag :answer_team_6, "1" %>
  <%= radio_button_tag :answer_team_6, 2 %>

  <%= label_tag :answer_team_6, "2 ou plus" %>
  <%= radio_button_tag :answer_team_6, 3 %>

  <p>Avec combien de freelances collaborez-vous actuellement? </p>
  <%= label_tag :answer_team_7, "0" %>
  <%= radio_button_tag :answer_team_7, 1%>

  <%= label_tag :answer_team_7, "1" %>
  <%= radio_button_tag :answer_team_7, 2 %>

  <%= label_tag :answer_team_7, "2 ou plus" %>
  <%= radio_button_tag :answer_team_7, 3 %>

  <p>Combien d'apprenants (stagiaires, apprentis, etc) employez-vous actuellement? </p>
  <%= label_tag :answer_team_8, "0" %>
  <%= radio_button_tag :answer_team_8, 1%>

  <%= label_tag :answer_team_8, "1" %>
  <%= radio_button_tag :answer_team_8, 1 %>

  <%= label_tag :answer_team_8, "2 ou plus" %>
  <%= radio_button_tag :answer_team_8, 2 %>

  <p>Y’a-t-il eu des abandons de fondateur(s) depuis la naissance du projet? </p>
  <%= label_tag :answer_team_9, "Oui" %>
  <%= radio_button_tag :answer_team_9, 1%>

  <%= label_tag :answer_team_9, "Non" %>
  <%= radio_button_tag :answer_team_9, 2 %>

  <p>Combien de personnes ont quitté le projet depuis son lancement?</p>
  <%= label_tag :answer_team_10, "0" %>
  <%= radio_button_tag :answer_team_10, 1%>

  <%= label_tag :answer_team_10, "1" %>
  <%= radio_button_tag :answer_team_10, 2 %>

  <%= label_tag :answer_team_10, "2" %>
  <%= radio_button_tag :answer_team_10, 2 %>

  <%= label_tag :answer_team_10, "3" %>
  <%= radio_button_tag :answer_team_10, 2 %>

  <%= label_tag :answer_team_10, "4+" %>
  <%= radio_button_tag :answer_team_10, 2 %>

    <br>
      <small style="color:red"><em>*Les questions portant un astérisque sont obligatoires</em></small><br>
        <%= submit_tag "Valider mes réponses", data: { confirm: 'Etes-vous sûr de valider vos réponses, une fois enregistrées vous ne pourrez plus les modifier' }, class:"btn btn-primary mb-5 " %>
  <% end %>

</div>
