<% if !current_user.startup.scores.last.name.nil? %>
<%= form_tag orders_path do %>
  <% if flash[:error].present? %>
  <div id="error_explanation">
    <p><%= flash[:error] %></p>
  </div>
  <% end %>
  <div class="container text-center ">
    <%= submit_tag("Achat de certificat") %>
  </div>
    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
      data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
      data-description="Achat d'un produit"
      data-amount="3500"
      data-locale="auto">
    </script>
    <script>
      // Hide default stripe button, be careful there if you
      // have more than 1 button of that class
      document.getElementsByClassName("stripe-button-el")[0].style.display = 'none';
    </script>
    <% end %>
<% end %>

<div id="dashboard">
  <%= render "score", startup:@startup, score:@score%>
</div>




<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>

  /*RADAR CHART*/
  var marksCanvas = document.getElementById("marksChart");

  var marksData = {
    labels: ["Equipe", "Finance", "Innovation", "Marché", "Offre", "Strategie"],
    datasets: [{
      label: "<%=@score.name%>",
      data: [Number("<%=@score.category_team.total_100_team%>"), Number("<%=@score.category_finance.total_100_finance%>"), Number("<%=@score.category_innovation.total_100_innovation%>"), Number("<%=@score.category_market.total_100_market%>"), Number("<%=@score.category_offer.total_100_offer%>"), Number("<%=@score.category_strategy.total_100_strategy%>")],
      fill: true,
      backgroundColor: 'rgba(158, 69, 209, 0.2)',
      borderColor: 'rgb(158, 69, 209)',
      pointBackgroundColor: 'rgb(158, 69, 209)',
      pointBorderColor: '#fff',
      pointHoverBackgroundColor: '#fff',
      pointHoverBorderColor: 'rgb(158, 69, 209)'
    }]
  };

  var radarChart = new Chart(marksCanvas, {
    type: 'radar',
    data: marksData,
    options: {
      scales: {
        r: {
          suggestedMin: 0,
          suggestedMax: 100
        }
      }
    }
  });



  /*BAR CHART*/

  var barCanvas = document.getElementById("barChart");

  var barData = {
    labels: ["Equipe", "Finance", "Innovation", "Marché", "Offre", "Strategie"],
    datasets: [{
      label: "<%=@score.name%>",
      data: [Number("<%=@score.category_team.total_100_team%>"), Number("<%=@score.category_finance.total_100_finance%>"), Number("<%=@score.category_innovation.total_100_innovation%>"), Number("<%=@score.category_market.total_100_market%>"), Number("<%=@score.category_offer.total_100_offer%>"), Number("<%=@score.category_strategy.total_100_strategy%>")],
      backgroundColor: [
      'rgba(158, 69, 209, 0.2)',
      ],
      borderColor: [
      'rgb(158, 69, 209)',
      ],
      borderWidth: 2
    }]
  };

  var barChart = new Chart(barCanvas, {
    type: 'bar',
    data: barData,
    options: {
      scales: {
        y: {
          beginAtZero: true,
          suggestedMax: 100
        }
      }
    },
  });

</script>
