<div class="container mt-5">
  <div class="text-center">
    <h6>Le processus est simple et gratuit.</h6>
    <h2 id="how-work">Comment ça marche ?</h2>
  </div>
  <br/>
  <div class="row">
    <div class="col-md-6 align-self-center">
      <%= image_tag 'undraw_online_ad_re_ol62 (1).svg', style: 'width:500px;' %>
    </div>
    <div class="col-md-6 text-center-justify">
      <div  class="container m-5 align-self-center">
        <h4 class="description" > Enregistrement de la start-up</h4>
        <p>La startup s’inscrit sur la plateforme en fournissant ses informations d'identification, c'est simple et gratuit.</p>
      </div>
    </div>
  </div>
  <br/>
  <div class="row">
    <div class=" col-md-6 col-sm-12 col-xs-12 order-lg-1 order-md-1 order-sm-2  text-center-justify align-self-center  ">
      <div class="container m-5">
        <h4 class="description">Notation</h4>
        <p>Le(s) fondateur(s) de la start-up remplit un formulaire permettant d’évaluer la crédibilité du projet. Cette évaluation repose sur 6 catégories d'analyse, le fondateur pourra obtenir un certificat attestant sa notation.
        </div>
      </div>
      <div class="  col-md-6 col-sm-12 col-xs-12 order-lg-2 order-md-2 order-sm-1 align-self-center ">
        <%= image_tag 'undraw_personal_goals_re_iow7 (1).svg', style: 'width:500px;' %>
      </div>
  </div>
    <br/>
    <div class="row">
      <div class="col-md-6 align-self-center">
        <%= image_tag 'undraw_dashboard_re_3b76 (1).svg', style: 'width:500px;' %>    </div>
      <div class="col-md-6 text-center-justify align-self-center">
        <div class="container m-5">
          <h4 class="description">Statistiques</h4>
          <p>Une fois la notation effectuée, la start-up aura accès à un tableau de bord contenant toutes les informations nécessaires pour analyser sa startup.</p>
      </div>
    </div>
  </div>
  <br/>
  <div class="row">
    <div class=" col-md-6 col-sm-12 col-xs-12 order-lg-1 order-md-1 order-sm-2  text-center-justify align-self-center">
      <div class="container m-5">
        <h4 class="description">Authentifiez votre certification</h4>
        <p>Chaque cerficat délivré comporte un numéro d'identification unique permettant d'être certifié directement sur notre site. Chaque visiteur peut authentifier un certificat directement sur notre<br>
          <%= link_to "moteur de recherche", certificates_path, class:"text-color"%>.</p>
      </div>
    </div>
    <div class=" col-md-6 col-sm-12 col-xs-12 order-lg-2 order-md-2 order-sm-1 align-self-center ">
      <%= image_tag 'undraw_business_deal_re_up4u (1).svg', style: 'width:500px;' %>
    </div>
  </div>
</div>
