<div class="team">
  <div class="team-title">
    <h1>Notre équipe de fou</h1>
  </div>

  <div class="container marketing">
    <div class="row teamdiv">
      <div id="teamcard" class="col-lg-3 col-md-4 col-sm-6">

        <%= image_tag "alex.jpg", class:"bd-placeholder-img rounded-circle", id:"img1", :size => "140x140"  %>

        <h2 class="name">Alex <br> Garnier</h2>
        <%= link_to image_tag("github.png", :size => "60x60", class:"github"), "https://github.com/alegarn", class:"personnal-link"%>
        <%= link_to image_tag("logo-linkedin.png", :size => "60x60", class:"linkedin-team"), "https://www.linkedin.com/in/alex-garnier-59517a12a", class:"personnal-link"%>
        <p>Il est notre moine shaolin chevelu, doté d’une pugnacité inégalé il est le co-maître d’un backend d’une solidité redoutable. </p>


      </div>
      <div id="teamcard" class="col-lg-3 col-md-4 col-sm-6">
        <%= image_tag "arnaud.jpg", class:"bd-placeholder-img rounded-circle", id:"img2", :size => "140x140"  %>


        <h2 class="name">Arnaud <br> Lucciarini</h2>
        <%= link_to image_tag("github.png", :size => "60x60", class:"github"), "https://github.com/Non0-13", class:"personnal-link"%>
        <%= link_to image_tag("logo-linkedin.png", :size => "60x60", class:"linkedin-team"), "https://www.linkedin.com/in/arnaud-lucciarini-9808a0221", class:"personnal-link"%>
        <p>Il s'investit sans relaches côté front s’aidant de son soucis du détail et de sa “South Touch” sortie tout droit de Marseille.</p>

      </div>
      <div id="teamcard" class="col-lg-3 col-md-4 col-sm-6">

        <%= image_tag "https://avatars.githubusercontent.com/u/86610960?v=4", class:"bd-placeholder-img rounded-circle", id:"img3", :size => "140x140"  %>

        <h2 class="name">Bastien <br> Arlot</h2>
        <%= link_to image_tag("github.png", :size => "60x60", class:"github"), "https://github.com/Bastien-Arlot", class:"personnal-link"%>
        <%= link_to image_tag("logo-linkedin.png", :size => "60x60", class:"linkedin-team"), "https://www.linkedin.com/in/bastien-arlot", class:"personnal-link"%>

        <p> Bastien s’occupe de la gestion du projet (il s’est trompé de formation) et assistera la team backend avec des fonctionnalités pas piqués des hannetons.</p>

      </div>
      <div id="teamcard" class="col-lg-3 col-md-4 col-sm-6">

        <%= image_tag "https://avatars.githubusercontent.com/u/74305277?v=4", class:"bd-placeholder-img rounded-circle", id:"img4", :size => "140x140"  %>

        <h2 class="name">Guillaume <br> Reygner</h2>
        <%= link_to image_tag("github.png", :size => "60x60", class:"github"), "https://github.com/guillaume-rygn", class:"personnal-link"%>
        <%= link_to image_tag("logo-linkedin.png", :size => "60x60", class:"linkedin-team"), "https://www.linkedin.com/in/guillaume-reygner", class:"personnal-link"%>
        <p>Il est notre gourou technique, véritable couteau suisse de la programmation, il est la réponse à tout nos problèmes (et plus encore).Le backend sera la première de ses milles et une tâche.
        </p>

      </div>
      <div id="teamcard" class="col-lg-3 col-md-4 col-sm-6 ">

        <%= image_tag "https://avatars.githubusercontent.com/u/97439623?v=4", class:"bd-placeholder-img rounded-circle", id:"img5", :size => "140x140"  %>

        <h2 class="name">Pierre <br> Sarazin</h2>
        <%= link_to image_tag("github.png", :size => "60x60", class:"github"), "https://github.com/PierreSARAZIN1", class:"personnal-link"%>
        <%= link_to image_tag("logo-linkedin.png", :size => "60x60", class:"linkedin-team"), "https://www.linkedin.com/in/pierresarazin1", class:"personnal-link"%>
        <p>Il met son sens du design, son ingéniosité et son flair artistique au service de notre front (et pas du sien).</p>

      </div>
    </div>
  </div>
</div>
