<div class="container">

  <h1>Strategy</h1>

  <%= form_tag url_for(action: 'create'), method: "post" do %>

    <!--QUESTION 1-->
    <p class="mt-3">Quel est le délai entre l'acte d'achat du client et la livraison ? (en jour)<span style="color:red">*</span></p>
      <%= radio_button_tag :answer_strategy_1, 1%>
      <%= label_tag :answer_strategy_1, "1 jour", class:"mx-2" %><br>
    <% 2.upto(9) do |t|%>
      <%= radio_button_tag :answer_strategy_1, t%>
      <%= label_tag :answer_strategy_1, "#{t} jours", class:"mx-2" %>
    <br>
    <%end%>
      <%= radio_button_tag :answer_strategy_1, 10%>
      <%= label_tag :answer_strategy_1, "+10 jours", class:"mx-2" %><br>

    <!--QUESTION 2-->
    <p class="mt-3">Vos fournisseurs principaux et critiques ont-ils plus de 5 ans d’existence ?<span style="color:red">*</span></p>
      <%= label_tag :answer_strategy_2, "Oui", class:"mx-2" %>
      <%= radio_button_tag :answer_strategy_2, 1%><br>
      <%= label_tag :answer_strategy_2, "Non", class:"mx-2" %>
      <%= radio_button_tag :answer_strategy_2, 2%>

    <!--QUESTION 3-->
    <p class="mt-3" >Vos fournisseurs sont-ils basés sur le territoire national ?<span style="color:red">*</span></p>
      <%= label_tag :answer_strategy_3, "Oui", class:"mx-2" %>
      <%= radio_button_tag :answer_strategy_3, 1%><br>
      <%= label_tag :answer_strategy_3, "Non", class:"mx-2" %>
      <%= radio_button_tag :answer_strategy_3, 2%>

    <!--QUESTION 4-->
    <p class="mt-3" >Avez-vous une dépendance à un de vos fournisseurs ? (plus de 50%)<span style="color:red">*</span></p>
      <%= label_tag :answer_strategy_4, "Oui", class:"mx-2" %>
      <%= radio_button_tag :answer_strategy_4, 1%><br>
      <%= label_tag :answer_strategy_4, "Non", class:"mx-2" %>
      <%= radio_button_tag :answer_strategy_4, 2%>

    <!--QUESTION 5-->
    <p class="mt-3" >Bénéficiez-vous des conseils d’un mentor ?<span style="color:red">*</span></p>
      <%= label_tag :answer_strategy_5, "Oui", class:"mx-2" %>
      <%= radio_button_tag :answer_strategy_5, 1%><br>
      <%= label_tag :answer_strategy_5, "Non", class:"mx-2" %>
      <%= radio_button_tag :answer_strategy_5, 2%>

    <!--QUESTION 6-->
    <p class="mt-3" >Votre organisation bénéficie-t-elle de conseils émanant d'un avocat, expert-comptable ou les deux ?<span style="color:red">*</span></p>
      <%= label_tag :answer_strategy_6, "Non", class:"mx-2" %>
      <%= radio_button_tag :answer_strategy_6, 1%><br>
      <%= label_tag :answer_strategy_6, "Avocat", class:"mx-2" %>
      <%= radio_button_tag :answer_strategy_6, 2%><br>
      <%= label_tag :answer_strategy_6, "Expert-comptable", class:"mx-2" %>
      <%= radio_button_tag :answer_strategy_6, 3%><br>
      <%= label_tag :answer_strategy_6, "Les deux", class:"mx-2" %>
      <%= radio_button_tag :answer_strategy_6, 4%>

    <!--QUESTION 7-->
    <p class="mt-3" >Etes-vous basé dans une structure accompagnant les projets innovants, tels que les incubateurs, accélérateurs ou pépinières d'entreprise ?<span style="color:red">*</span></p>
      <%= label_tag :answer_strategy_7, "Oui", class:"mx-2" %>
      <%= radio_button_tag :answer_strategy_7, 1%><br>
      <%= label_tag :answer_strategy_7, "Non", class:"mx-2" %>
      <%= radio_button_tag :answer_strategy_7, 2%>

    <!--QUESTION 8-->
    <p class="mt-3" >Votre organisation a-t-elle nouée des partenariats avec des centres de Recherche & Développement privés ou publics ?<span style="color:red">*</span></p>
      <%= label_tag :answer_strategy_8, "Oui", class:"mx-2" %>
      <%= radio_button_tag :answer_strategy_8, 1%><br>
      <%= label_tag :answer_strategy_8, "Non", class:"mx-2" %>
      <%= radio_button_tag :answer_strategy_8, 2%>

    <!--QUESTION 9-->
    <p class="mt-3" >Votre organisation a-t-elle nouée des partenariats avec des distributeurs ou apporteurs d'affaires ?<span style="color:red">*</span></p>
      <%= label_tag :answer_strategy_9, "Oui", class:"mx-2" %>
      <%= radio_button_tag :answer_strategy_9, 1%><br>
      <%= label_tag :answer_strategy_9, "Non", class:"mx-2" %>
      <%= radio_button_tag :answer_strategy_9, 2%>

    <!--QUESTION 10-->
    <p class="mt-3" >Avez-vous un service après-vente ?<span style="color:red">*</span></p>
      <%= label_tag :answer_strategy_10, "Oui", class:"mx-2" %>
      <%= radio_button_tag :answer_strategy_10, 1%><br>
      <%= label_tag :answer_strategy_10, "Non", class:"mx-2" %>
      <%= radio_button_tag :answer_strategy_10, 2%>

    <!--QUESTION 11-->
    <p class="mt-3" >Quel est le taux de satisfaction client de votre service après-vente ?<span style="color:red">*</span></p>
    <% 1.upto(10) do |t|%>
      <%= radio_button_tag :answer_strategy_11, t%>
      <%= label_tag :answer_strategy_1, t, class:"mx-2" %>
      <br>
    <%end%>




    <br>
    <small style="color:red"><em>*Les questions portant un astérisque sont obligatoires</em></small><br>
      <%= submit_tag "Valider mes réponses", data: { confirm: 'Etes-vous sûr de valider vos réponses, une fois enregistrées vous ne pourrez plus les modifier' }, class:"btn btn-primary mb-5 " %>
  <% end %>

</div>

