<br><br>
<div id="dashboard ">
  <%= render "user_admin", startup: @startup, score: @score %>
</div>

<div id="dashboard">
  <%= render "startup_admin", startup: @startup, score: @score %>
</div>

<div class="container" id="content">
  <div class="accordion" id="accordionExample">

    <% @all_score_user.each_with_index do |score, index| %>

      <div class="accordion-item">
        <h2 class="accordion-header" id="heading<%= index %>">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse<%= index %>" aria-expanded="true" aria-controls="collapse<%= index %>">
            <h6> Notation du<span class="text-color"> <%= score.name %></span>, résultat :
              <span class="text-color"><%= score.total_100 %></span>/100 </h6>
          </button>
        </h2>
        <div id="collapse<%= index %>" class="accordion-collapse collapse" aria-labelledby="heading<%= index %>" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <div id="dashboard">
              <%= render "score_admin", startup: @startup, score: score %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

    