<!DOCTYPE html>
<html>
  <head>
    <title>ScoreitThp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
     <!-------- Font-awesome --------->
      <link
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css"
      rel="stylesheet"
    />
    <!--------- Bootstrap ------------>
    <%= stylesheet_link_tag 'bootstrap.min', media: 'all' %>
    <%= javascript_include_tag 'bootstrap.min', media: 'all' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= render 'layouts/navbar'  %>
    <%= yield %>
     <%= render 'layouts/footer' %>
  </body>

  <script
      src="https://kit.fontawesome.com/5179dfb87c.js"
      crossorigin="anonymous"
    ></script>
</html>
